//_下划线开头的文件表示其他地方调用的文件


// colors
//scss 中有 map 和 list 两种数据结构 (a:1,b:2) or (1,2,3)
$colors:(
    "primary":#db9e3f,
    "red":rgb(255, 45, 45),
    "info":#4b67af,
    "blue":#4394e4,
    "white":#fff,
    "white-1":#fcfcfc,
    "white-2":#eceef0,
    "light":#f9f9f9,
    "light-1":#d4d9de, //边框色
    "grey-1":#666,
    "grey":#999,
    "dark-1":#343440,
    "dark":#222,
    "black":#000,
    
);
$border-color:map-get($map: $colors, $key:"light-1" );

$base-font-size:1rem;
//倍数
//输入完px之后 按下alt+z切换成rem : px to rem 插件
$font-sizes:(
    xxs:0.6154, //8px
    xs:0.7692, //10px
    sm:0.9231, //12px
    md:1, //13px
    lg:1.0769, //14px
    xl:1.2308, //16px
);
$flex-jc:(
    start:flex-start,
    end:flex-end,
    center:center,
    between:space-between,
    around:space-around,
);


$flex-ai:(
    start:flex-start,
    end:flex-end,
    center:center,
    stretch:stretch,
);


//spacing 边距
$spacing-types:(m:margin,p:padding);
$spacing-directions:(t:top,r:right,b:bottom,l:left);
$spacing-base-size:1rem; //基础空间尺寸单位
$spacing-sizes:(
    0:0,
    1:0.25,
    2:0.5,
    3:1,
    4:1.5,
    5:3
);